body{

  background-image: url(../image/login_bg.jpg);
  .warn-box{
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
  }
  h4{
    margin-top: 100px;
    color: #eee;
  }
  form{
    background-color:rgba(255,255,255,0.6);
    border-radius: 15px;
    padding-top:20px;

    button{
      margin:auto;
    }
  }
}