body{
  font-family: "微软雅黑";

  background-image: url(../image/login_bg.jpg);
  h4{
    color: #eee;
    margin-top: 50px;
    margin-bottom: 10px;

  }
  form{
    background-color:rgba(255,255,255,0.6);
    border-radius: 15px;
    padding-top:20px;
    button{
      margin:auto;
    }
  }
}